.frontPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6EDA7F, #1D1D1D);
}

.aiConsultationForm {
    max-width: 60vw;
    width: 100%;
    padding: 30px;
    background: linear-gradient(to bottom, #6EDA7F, #CBE2C7);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.aiConsultationForm h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 40px;
}

.aiConsultationForm textarea {
    width: 96%;
    padding: 15px;
    border: 2px solid #76b900;
    border-radius: 8px;
    margin: auto 0 0 5;
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9;
    resize: none;
    transition: border-color 0.3s ease;
}

.aiConsultationForm textarea:focus {
    border-color: #82c400;
    outline: none;
}

.aiConsultationForm button {
    font-family: 'Inter', sans-serif;
    display: block;
    width: 20%;
    padding: 12px;
    background-color: #76b900;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.aiConsultationForm button:hover {
    background: linear-gradient(to bottom, #6EDA7F, #1D1D1D);
}

@media (max-width: 768px) {
    .aiConsultationForm {
        padding: 20px;
    }
}


